<div class="card border-dark mt-5">
    <div class="card-header">
        <h5 class="float-left">{{ title }}</h5>
        <button #create (click)="fireEvent()" class="btn btn-primary btn-sm float-right text-white">Add Element</button>
    </div>
    <div class="card-body p-1">
        <table class="table table-sm">
            <thead class="thead-dark">
                <th>Title</th>
                <th>Description</th>
            </thead>

            <tr *ngFor="let el of elements" (click)="selectElementEvent(el)">
                <td>
                    {{el.title}}
                </td>
                <td>
                    {{el.description}}
                </td>
            </tr>

        </table>
    </div>
</div>